<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<div class="container">

    <div class="bienvenida">
    <h1>📚 BIENVENIDO A LA BIBLIOTECA VIRTUAL</h1>
    <p>Explora, gestiona y disfruta tus libros</p>
</div>

    <h1>📚 Sistema de Biblioteca</h1>

    <div class="menu">
        <a href="/agregar">➕ Agregar Libro</a>
        <a href="/reporte">📄 Descargar PDF</a>
        <a href="/logout">🚪 Salir</a>
    </div>

    <h2>📖 Catálogo de Libros</h2>

    <div class="grid-libros">
        {% for libro in libros %}
        <div class="card">
            <!-- IMAGEN CORRECTA -->
            <img src="{{ url_for('static', filename='img/libros.jpg') }}" alt="Libro">

            <h3>{{ libro.nombre }}</h3>
            <p><strong>Autor:</strong> {{ libro.autor }}</p>
            <p><strong>Precio:</strong> $ {{ libro.precio }}</p>
            <p><strong>Cantidad:</strong> {{ libro.cantidad }}</p>

            <div class="acciones">
                <a href="/editar/{{ libro.id }}">✏️ Editar</a>
                <a href="/eliminar/{{ libro.id }}">🗑️ Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<script>
setTimeout(() => {
    document.getElementById("splash").style.display = "none";
}, 2000);
</script>

</body>
</html>