<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">

<div class="login-container">
    <h1>📚 Biblioteca</h1>

    <form method="POST">
        <input type="email" name="email" placeholder="Correo" required>
        <input type="password" name="password" placeholder="Contraseña" required>

        <button type="submit">Ingresar</button>
    </form>

    <a href="/registro">Crear cuenta</a>
</div>

</body>
</html>