```html
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

<div class="container">
    <h1>📚 Sistema Biblioteca</h1>

    <form method="POST">
        <input type="email" name="email" placeholder="Correo" required><br><br>
        <input type="password" name="password" placeholder="Contraseña" required><br><br>
        <button type="submit">Ingresar</button>
    </form>

    <br>
    <a href="/registro">Crear cuenta</a>
</div>

</body>
</html>
```
